/* Importing font from Google */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* Declaring color variables */
:root {
  /* Primary */
  --lightRed: hsl(0, 100%, 67%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);

  /* Gradients */
  --slateBlue: hsl(252, 100%, 67%); /* background */
  --royalBlue: hsl(241, 81%, 54%); /* background */
  --violetBlue: hsla(256, 72%, 46%, 1); /* circle */
  --persianBlue: hsla(241, 72%, 46%, 0); /* circle */

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --grayBlue: hsl(224, 30%, 27%);
}

/* Reseting the stylesheet */
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  heigth: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
}

/* Blue Section */
.blue {
  width: 300px;
  padding: 20px 39px 35px 39px;
  background-image: linear-gradient(180deg, var(--slateBlue), var(--royalBlue));
  color: white;
  border-radius: 0  0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.blue span {
  color: var(--lavender);
}

.result {
  background-image: linear-gradient(180deg, var(--violetBlue), var(--persianBlue));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
}

.number {
  font-size: 55px;
  font-weight: 800;
  color: var(--paleBlue);
}

.total {
  color: var(--lavender);
  font-size: 14px;
}

.text {
  text-align: center;
}

.text h1 {
  color: var(--paleBlue);
  margin-bottom: 15px;
}

.text p {
  font-size: 18px;
  color: var(--lavender);
}


/* White Section */
.white {
  padding: 20px;
}

.white h1 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weigth: 800;
  color: var(--grayBlue);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 7px;
}

.description {
  display: flex;
  gap: 10px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

#react {
  color: var(--lightRed);
}

.memory {
  background-color: hsl(39, 100%, 56%, 0.1);
}

#memo {
  color: var(--orangeyYellow);
}

.verbal {
  background-color: hsl(166, 100%, 37%, 0.1);
}

#verb {
  color: var(--greenTeal);
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.1);
}

#vis {
  color: var(--cobaltBlue);
}

.num {
  color: var(--grayBlue);
}

.num span {
  font-weight: 800;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(48, 59, 89);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  color: var(--paleBlue);
  border-radius: 30px;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(180deg, var(--slateBlue), var(--royalBlue));
  border-color: (--paleBlue);
}
/* Media  */